@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.move {
  animation: bgColor 2s ease-in infinite;
 
}
.active{
  color: green;
}

@keyframes bgColor {
  0% {
   color:green
  }

  20% {
    color:black
  }
 50%{
  color:aqua
 }
 75%{
  color: blueviolet;
 }
 100%{
  color: blue;
 }
}